<!DOCTYPE html>
<html lang="en">
    <%- include("templates/head") %> <!-- aca estoy trayendo el template head -->
<body>
    <div class="container"> 
        <h3>formulario</h3>
        <form action="/api/productos" method="post" class="col-md-8 col-lg-6 col-xl-5 justify-content-center align-items-center">
        <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Nombre</label>
        <input type="text" name="nombre"class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">precio</label>
        <input type="text" name="precio" class="form-control" id="exampleInputPassword1">
        </div>
           <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">img</label>
            <input type="text" name="img" class="form-control" id="exampleInputPassword1">
            </div>
       
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>
<button> <a href="/api/productos"> ver  productos</a> </button> 
</body>
</html>