<!DOCTYPE html>
<html lang="en">
<%- include("templates/head") %> <!-- aca estoy trayendo el template head -->
<body>
    
    <div> 
          <div>
              <h3>Bienvenidos</h3>
          </div>
        <button> <a href="/formulario">agregar  producto</a></button>
        <button> <a href="/api/productos">ver productos</a></button>
    </div>
</body>
</html>